!!!
%html
  %head
    %title Mood Tracker
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag '//www.google.com/jsapi', 'chartkick'
    = csrf_meta_tags
  %body
    .container
      %h1.text-center Mood Tracker
    = yield
